/* style.css */

body {
    background-color: #f8f9fa;
}

.container {
    max-width: 600px;
    margin: 50px auto;
}

.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: rgb(187 187 187 / 53%)!important;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.card-body {
    padding: 20px;
}

.form-group label {
    font-weight: bold;
}

.btn-primary {
    color: #fff;
    background-color: #0062cc;
    border-color: #005cbf;
}

.btn-primary:hover {
    background-color: #565e64;
    border-color: #565e64;
}

.modal-content {
    border-radius: 5px;
}

.modal-body {
    text-align: center;
}

.display-medium {
    font-size: 2rem;
}
